@font-face {
  font-family: 'DS-Terminal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/css/fonts/DS-Terminal.ttf) format('DS-Terminal');
}
html,body {
     

  
 
 place-items: 20% 20%;
  
  
  perspective: 1000px;
background:url(../images/bg-body.gif);
	height:100%;
	width:100%;
background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


 
	
}